# build output
dist/
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# logs
*-debug.log*
*.log

# environment variables
.env
.env.local
.env.production
.env.development

# editor / OS noise
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# preferences
.claude